<div class="content" flexLayout="column">

    <form [formGroup]="courseForm" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">

                <h2 class="text-accent">Informatii Generale Curs</h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- titlu curs -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Titlu</mat-label>
                    <input matInput formControlName="titlu" />
                    <mat-error *ngIf="courseForm.get('titlu').hasError('required')">Titlu curs necesar</mat-error>
                </mat-form-field>

                <!-- URL curs -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="url" />
                    <mat-error *ngIf="courseForm.get('url').hasError('required')">URL profesor necesara
                    </mat-error>
                </mat-form-field>

                <!-- certificare curs -->
                <div formGroupName="certificare" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    class="mb-15">
                    <div class="checkbox-container" fxLayoutAlign="center center" fxFlex>
                        <mat-checkbox formControlName="anc">Certificat
                            ANC
                        </mat-checkbox>
                    </div>

                    <div class="checkbox-container" fxLayoutAlign="center center" fxFlex>
                        <mat-checkbox formControlName="participare">
                            Certificat Participare
                        </mat-checkbox>
                    </div>
                </div>

                <!-- pret curs -->
                <div formGroupName="pret" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px"
                    class="mb-15">
                    <mat-form-field appearance="fill" class="mb-5" fxFlex>
                        <mat-label>Pret Certificat ANC</mat-label>
                        <input type="number" matInput formControlName="anc" />
                        <mat-error *ngIf="courseForm.get('pret.anc').hasError('required')">Pret necesar
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mb-5" fxFlex>
                        <mat-label>Pret Certificat Participare</mat-label>
                        <input type="number" matInput formControlName="participare" />
                        <mat-error *ngIf="courseForm.get('pret.participare').hasError('required')">Pret necesar
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- location status -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="courseForm.get('status').hasError('required')">Statusul cursului este necesar
                    </mat-error>
                </mat-form-field>

                <h2 class="text-accent">Imagine Curs</h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- imagine profesor -->
                <div class="files-upload mb-20" fxLayout="column">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector" fxFlex fxLayoutAlign="center center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                (change)="onFileSelected($event)" #fileUpload style="display: none;"
                                onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click();" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagine
                            </button>
                        </div>
                    </label>
                    <div class="files-preview" fxFlex>
                        <span *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</span>

                        <ul fxLayout="column">
                            <li *ngFor="let selected of selectedFiles; let i = index" fxLayout="row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details" fxFlex>
                                    <span class="file-name">{{selected.name}}</span><br />
                                    <span class="file-size"><small>{{formatBytes(selected.file.size)}}</small></span>

                                </div>
                                <div class="actions" fxFlex fxLayoutAlign="end center">
                                    <button mat-icon-button color="default" (click)="onFileRemoved()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </section>
        </mat-card>

        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">
                <h2 class="text-accent">Descriere Curs <small *ngIf="courseForm.get('titlu').value"
                        class="text-gray">({{courseForm.get('titlu').value}})</small></h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- location content -->
                <textarea [froalaEditor]="froalaOptions" formControlName="descriere"></textarea>
                <mat-error *ngIf="courseForm.get('titlu').touched && courseForm.get('descriere').hasError('required')">
                    <small>Descrierea cursului este
                        necesara</small>
                </mat-error>
            </section>

            <section fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
                <button mat-flat-button color="accent" [disabled]="!courseForm.valid || (loading$ | async)"
                    class="save-button create-contract-btn p-10" (click)="createCourse()" fxLayout="row"
                    fxLayoutAlign="center center" fxFill>
                    <mat-spinner *ngIf="loading$ | async" class="text-white" diameter="20"></mat-spinner>
                    <span *ngIf="!(loading$ | async)">Salveaza</span>
                </button>
            </section>
        </mat-card>

    </form>
</div>