<div class="content">

    <form [formGroup]="courseForm" class="fx-row fx-lt-md-column fx-gap-25">
        <mat-card class="fx-column fx-50 fx-lt-sm-100 p-20">
            <section class="fx-column">

                <h4 class="text-accent">Informatii Generale Curs</h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- titlu curs -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Titlu</mat-label>
                    <input matInput formControlName="titlu" (change)="convertToUrl(courseForm.get('titlu').value)" />
                    <mat-error *ngIf="courseForm.get('titlu').hasError('required')">Titlu curs necesar</mat-error>
                </mat-form-field>

                <!-- URL curs -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="url" />
                    <mat-error *ngIf="courseForm.get('url').hasError('required')">URL curs necesara
                    </mat-error>
                </mat-form-field>

                <!-- certificare curs -->
                <div formGroupName="certificare" class="fx-row fx-lt-md-column fx-gap-20 mb-15">
                    <div class="lecto-checkbox-container fx-flex fx-column fx-layout-center-center">
                        <mat-checkbox formControlName="anc">Certificat
                            ANC
                        </mat-checkbox>
                    </div>

                    <div class="lecto-checkbox-container fx-flex fx-column fx-layout-center-center">
                        <mat-checkbox formControlName="participare">
                            Certificat Participare
                        </mat-checkbox>
                    </div>
                </div>

                <!-- pret curs -->
                <div formGroupName="pret" class="fx-row fx-lt-md-column fx-gap-20 mb-15">
                    <mat-form-field appearance="fill" class="fx-flex mb-5">
                        <mat-label>Pret Certificat ANC</mat-label>
                        <input type="number" matInput formControlName="anc" />
                        <mat-error *ngIf="courseForm.get('pret.anc').hasError('required')">Pret necesar
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fx-flex mb-5">
                        <mat-label>Pret Certificat Participare</mat-label>
                        <input type="number" matInput formControlName="participare" />
                        <mat-error *ngIf="courseForm.get('pret.participare').hasError('required')">Pret necesar
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- location status -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="courseForm.get('status').hasError('required')">Statusul cursului este necesar
                    </mat-error>
                </mat-form-field>

                <h4 class="text-accent">Imagine Curs</h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- imagine curs -->
                <div class="files-upload fx-column mb-20">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector fx-row fx-layout-center-center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                   (change)="onFileSelected($event)" #fileUpload style="display: none;"
                                   onclick="value = null">
                            <button mat-raised-button color="primary" (click)="fileUpload.click();" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagine
                            </button>
                        </div>
                    </label>
                    <div class="files-preview">
                        <small *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</small>

                        <ul class="fx-column">
                            <li *ngFor="let selected of selectedFiles; let i = index" class="fx-row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details fx-flex fx-row fx-layout-start-center">
                                    <button mat-flat-button (click)="openDialog(selected)"><span class="file-name text-dark">{{selected.name}}</span></button>
                                </div>
                                <div class="actions fx-flex fx-row fx-layout-end-center">
                                    <button mat-icon-button color="default" (click)="onFileRemoved()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </section>
        </mat-card>

        <mat-card class="fx-50 fx-lt-md-100 p-20">
            <section class="fx-column">
                <h4 class="text-accent">Descriere Curs <small *ngIf="courseForm.get('titlu').value"
                        class="text-gray">({{courseForm.get('titlu').value}})</small></h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- location content -->
                <textarea [froalaEditor]="froalaOptions" formControlName="descriere"></textarea>
                <mat-error *ngIf="courseForm.get('titlu').touched && courseForm.get('descriere').hasError('required')">
                    <small>Descrierea cursului este
                        necesara</small>
                </mat-error>
            </section>

            <section class="fx-row fx-layout-center-center">
                <button mat-flat-button color="primary" [disabled]="!courseForm.valid || (loading$ | async)"
                        class="save-button fx-fill p-10" (click)="createCourse()">
                    <mat-spinner *ngIf="loading$ | async" class="text-white" diameter="20"></mat-spinner>
                    <span *ngIf="!(loading$ | async)">
                        Salveaza
                    </span>
                </button>
            </section>
        </mat-card>

    </form>
</div>