                <!-- location offers -->
                <!-- <div class="offers-group">
                    <h2 class="text-accent">Oferte Cazare <small *ngIf="locationsForm.get('locatie').value" class="text-gray">({{locationsForm.get('locatie').value}})</small></h2>
                    <mat-divider class="mb-10"></mat-divider>
                    <div formArrayName="oferte">
                        <p *ngIf="!oferte.controls.length">Adauga oferta cazare pentru locatia curenta</p>
                        <div *ngFor="let oferta of oferte.controls; let i=index">
                            <div [formGroupName]="i">
                                <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="30px">

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="30">
                                        <mat-label>Nume Oferta</mat-label>
                                        <input matInput type="text" formControlName="nume" color="warn" placeholder="7 nopti pensiune completa">
                                        <mat-error *ngIf="oferta.get('nume').hasError('required')">Nume oferta necesar
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" hideRequiredMarker="true" fxFlex.gt-sm="30">
                                        <mat-label>Pret Oferta</mat-label>
                                        <input matInput type="number" formControlName="pret" color="warn">
                                    </mat-form-field>

                                    <div class="checkbox-container" fxLayoutAlign="center center" fxFlex.gt-sm="40">
                                        <mat-slide-toggle formControlName="status">
                                            <span class="text-success" *ngIf="oferta.get('status').value">Activa</span>
                                            <span class="text-warn" *ngIf="!oferta.get('status').value">Inactiva</span>
                                        </mat-slide-toggle>
                                    </div>

                                    <div fxFlex.gt-sm="20">
                                        <button type="button" mat-icon-button (click)="removeOferta(i)" color="accent">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>

                                </section>

                            </div>
                        </div>
                        <button type="button" mat-icon-button (click)="addOferta()" color="accent">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div> -->