.dialog-image {
    position: relative;

    .dialog-image-header {
        position: sticky;
        top: 0px;
        background: #ffffff;

        button {
            background: #ffffff;
        }
    }

    .dialog-image-content {
        img {
            width:100%;
            height:100%;
        }
    }
}