<div class="content">
  <div class="table-header fx-row fx-layout-between-center">
    <div class="search-bar">
      <mat-form-field>
        <mat-label>Cauta</mat-label>
        <input matInput type="text" class="dc-search" (keyup)="filterSubject.next(filter)" [(ngModel)]="filter">
        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filterSubject.next('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="actions fx-row fx-layout-end-center fx-gap-15">
      <button class="mb-10" mat-flat-button color="primary" [routerLink]="'/admin/locatii/adauga'">
        <mat-icon class="mr-10">add</mat-icon>
        Adauga locatie
      </button>
    </div>
  </div>

  <div class="table-container">

    <div class="spinner-container" *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear="true" [matSortActive]="defaultSort.active"
      [matSortDirection]="defaultSort.direction">

      <ng-container matColumnDef="imagine">
        <th mat-header-cell class="dc-label" *matHeaderCellDef></th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          <a (click)="openDialog(element)">
            <img
              [src]="element.imagine && element.imagine.small ? element.imagine.small : './assets/images/placeholder.png'" />
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="locatie">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Locatie</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          <a mat-button [routerLink]="'/admin/locatii/' + element._id" class="fx-row fx-layout-start-center">
          {{element.locatie}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="oras">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Oras</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{element.oras}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          <span *ngIf="element.status" class="text-success">Activ</span>
          <span *ngIf="!element.status" class="text-warn">Inactiv</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>Creat in</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{element.createdAt | date: 'dd/MM/yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell class="dc-label" *matHeaderCellDef>Creat de</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          {{element.createdBy.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell class="dc-actions" *matHeaderCellDef>Actiuni</th>
        <td mat-cell class="dc-content" *matCellDef="let element">
          <button mat-icon-button [routerLink]="'/admin/locatii/' + element._id">
            <mat-icon color="primary">edit</mat-icon>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="noData">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <ng-container>
            <div class="no-data-container">
              No data...
            </div>
          </ng-container>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <ng-container *ngIf="locationsTotal">
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="customer-row"></tr>
      </ng-container>

      <ng-container *ngIf="!locationsTotal">
        <tr mat-row *matRowDef="let row; columns: ['noData'];" class="customer-row"></tr>
      </ng-container>


    </table>
  </div>

  <mat-paginator [length]="locationsTotal" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
  </mat-paginator>
</div>