.table-header {
    .header {
        height: 100px;
    }
}

.table-container {
    position: relative;

    .spinner-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 75px;
        right: 0;
        background: rgba(255, 255, 255, 0.651);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        width: 100%;

        .no-data-container {
            .no-data-cell {
                text-align: center;
            }
            .no-data-cell > span {
                display: block;
                margin-top: 4px;
            }
            .no-data-cell > span.retry {
                display: block;
                color: #00ff00;
                cursor: pointer;
            }
        }

        .dc.actions {
            display: flex;
            justify-content: flex-end;
        }

        .clickable {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        .table-container {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: auto;
            table {
                width: 1200px;
            }
        }
    }
}
