$white-bg:                   #FFFFFF !default;
$light-black:                #444    !default;
$black-bg:                   rgba(30,30,30,.97) !default;
$gray-bg:                    #ededed !default;
$black-color:                #2c2c2c !default;
$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$dark-gray:                  #9A9A9A !default;

$opacity-1:                  rgba(0, 1, 22, 0.1) !default;
$opacity-2:                  rgba(255,255,255, .2) !default;
$opacity-gray-3:             rgba(222,222,222, .3) !default;
$opacity-gray-5:             rgba(222,222,222, .5) !default;
$opacity-gray-8:             rgba(222,222,222, .8) !default;
$opacity-5:                  rgba(255,255,255, .5) !default;
$opacity-8:                  rgba(255,255,255, .8) !default;

$white:                #FFFFFF;
$primary:              #3B3E67 !default;
$secondary:             #697CFA !default;
$success:              #23b310 !default;
$info:                 #2CA8FF !default;
$warning:              #FFB236 !default;
$danger:               #FF3636 !default;

$font-weight-light:             300         !default;
$font-weight-normal:            400         !default;
$font-weight-semi:              600         !default;
$font-weight-bold:              700         !default;