<div class="content">

    <form [formGroup]="locationsForm" class="fx-row fx-lt-md-column fx-gap-25">
        <mat-card class="fx-column fx-50 fx-lt-sm-100 p-20">
            <section class="fx-column fx-flex">
                <h4 class="text-accent">Informatii Generale Locatie</h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- location name -->
                <mat-form-field appearance="fill" class="mt-5 mb-5">
                    <mat-label>Nume locatie</mat-label>
                    <input matInput formControlName="locatie" placeholder="ex. Hotel Aro Palace" (change)="convertToUrl(locationsForm.get('locatie').value)">
                    <mat-error *ngIf="locationsForm.get('locatie').hasError('required')">Numele locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location url -->
                <mat-form-field appearance="fill" class="mt-10 mb-5">
                    <mat-label>URL locatie</mat-label>
                    <input matInput formControlName="url" placeholder="ex. hotel-aro-palace">
                    <mat-error *ngIf="locationsForm.get('url').hasError('required')">URL-ul locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location city -->
                <mat-form-field appearance="fill">
                    <mat-label>Localitate</mat-label>
                    <input type="text" matInput formControlName="localitate" [matAutocomplete]="autoGroup">
                    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onSelectedLocation($event)">
                        <mat-optgroup *ngFor="let group of romania | async" [label]="group.nume">
                            <mat-option *ngFor="let item of group.localitati" [value]="item.nume">
                                {{item.nume ? item.nume : item.simplu || 'N/A' }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                    <mat-error *ngIf="locationsForm.get('oras').hasError('required')">Orasul locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location status -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationsForm.get('status').hasError('required')">Statusul locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <h4 class="text-accent">Galerie Foto Locatie <small *ngIf="locationsForm.get('locatie').value"
                        class="text-gray">({{locationsForm.get('locatie').value}})</small></h4>
                        <mat-divider class="mb-20"></mat-divider>

                <!-- location images -->
                <div class="files-upload fx-column mb-20">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector fx-row fx-layout-center-center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                (change)="onFileSelected($event)" #fileUpload multiple style="display: none;"
                                onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click()" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagini
                            </button>
                        </div>
                    </label>

                    <div class="files-preview">
                        <span *ngIf="!selectedFiles.length" class="text-gray"><small>No thumbnail selected...</small></span>
                
                        <ul class="fx-column">
                          <li *ngFor="let selected of selectedFiles; let i = index" class="fx-row">
                            <div class="preview">
                              <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                            </div>
                            <div class="details fx-flex fx-row fx-layout-start-center">
                              <button mat-flat-button (click)="openDialog(selected)">
                                <span class="file-name">{{selected.name}}</span><br />
                                <span class="file-size"><small>{{formatBytes(selected.file.size)}}</small></span>
                              </button>
                            </div>
                            <div class="actions fx-flex fx-row fx-layout-end-center">
                                <button mat-icon-button class="mr-10"
                                        [ngClass]="selected.main ? 'text-accent' : 'text-gray'" (click)="onFileMain(i)">
                                        <mat-icon>favorite</mat-icon>
                                    </button>
                                    <button mat-icon-button color="default" (click)="onFileRemoved(i)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                            </div>
                          </li>
                        </ul>
                
                      </div>
                </div>

            </section>
        </mat-card>

        <mat-card class="fx-50 fx-lt-md-100 p-20">
            <section class="fx-column fx-flex">
                <h4 class="text-accent">Descriere Locatie <small *ngIf="locationsForm.get('locatie').value"
                        class="text-gray">({{locationsForm.get('locatie').value}})</small></h4>
                        <mat-divider class="mb-20"></mat-divider>

                <!-- location content -->
                <textarea [froalaEditor]="froalaOptions" formControlName="descriere"></textarea>
                <mat-error
                    *ngIf="locationsForm.get('locatie').touched && locationsForm.get('descriere').hasError('required')">
                    <small>Descrierea locatiei este
                        necesara</small>
                </mat-error>
            </section>

            <section class="fx-row fx-layout-center-center">
                <button mat-flat-button color="accent" [disabled]="!locationsForm.valid || (loading$ | async)"
                        class="save-button fx-fill p-10" (click)="createLocation()">
                    <mat-spinner *ngIf="loading$ | async" class="text-white" diameter="20"></mat-spinner>
                    <span *ngIf="!(loading$ | async)">
                        Salveaza
                    </span>
                </button>
            </section>
        </mat-card>
    </form>
</div>