<div class="content" flexLayout="column">

    <form [formGroup]="locationsForm" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">

                <!-- location name -->
                <mat-form-field appearance="fill" class="mt-10 mb-5">
                    <mat-label>Nume locatie</mat-label>
                    <input matInput formControlName="locatie" placeholder="ex. Hotel Aro Palace">
                    <mat-error *ngIf="locationsForm.get('locatie').hasError('required')">Numele locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location url -->
                <mat-form-field appearance="fill" class="mt-10 mb-5">
                    <mat-label>URL locatie</mat-label>
                    <input matInput formControlName="url" placeholder="ex. hotel-aro-palace">
                    <mat-error *ngIf="locationsForm.get('url').hasError('required')">URL-ul locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location content -->
                <textarea [froalaEditor]="froalaOptions" formControlName="descriere"></textarea>
                <mat-error
                    *ngIf="locationsForm.get('locatie').touched && locationsForm.get('descriere').hasError('required')">
                    <small>Descrierea locatiei este
                        necesara</small>
                </mat-error>

                <!-- location city -->
                <mat-form-field appearance="fill">
                    <mat-label>Localitate</mat-label>
                    <input type="text" matInput formControlName="localitate" [matAutocomplete]="autoGroup">
                    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onSelectedLocation($event)">
                        <mat-optgroup *ngFor="let group of romania | async" [label]="group.nume">
                            <mat-option *ngFor="let item of group.localitati" [value]="item.nume">
                                {{item.nume ? item.nume : item.simplu || 'N/A' }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                    <mat-error *ngIf="locationsForm.get('oras').hasError('required')">Orasul locatiei este necesar
                    </mat-error>
                </mat-form-field>

                <!-- location status -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationsForm.get('status').hasError('required')">Statusul locatiei este necesar
                    </mat-error>
                </mat-form-field>
            </section>

            <section fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
                <button mat-flat-button color="accent" [disabled]="!locationsForm.valid"
                    class="create-contract-btn p-10" (click)="createLocation()">
                    Salveaza
                </button>
            </section>
        </mat-card>

        <mat-card fxFlex="50" fxFlex.lt-sm="100">
            <section fxLayout="column">
                <h2 class="text-accent">Galerie Foto Locatie <small *ngIf="locationsForm.get('locatie').value"
                        class="text-gray">({{locationsForm.get('locatie').value}})</small></h2>
                <mat-divider class="mb-10"></mat-divider>

                <div class="files-upload" fxLayout="column">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector" fxFlex fxLayoutAlign="center center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                (change)="onFileSelected($event)" #fileUpload multiple style="display: none;"
                                onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click()" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagini
                            </button>
                        </div>
                    </label>

                    <div class="files-preview" fxFlex>
                        <span *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</span>

                        <ul fxLayout="column">
                            <li *ngFor="let selected of selectedFiles; let i = index" fxLayout="row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details" fxFlex>
                                    <span class="file-name">{{selected.name}}</span><br />
                                    <span class="file-size"><small>{{formatBytes(selected.file.size)}}</small></span>

                                </div>
                                <div class="actions" fxFlex fxLayoutAlign="end center">
                                    <button mat-icon-button class="mr-10"
                                        [ngClass]="selected.main ? 'text-accent' : 'text-gray'" (click)="onFileMain(i)">
                                        <mat-icon>favorite</mat-icon>
                                    </button>
                                    <button mat-icon-button color="default" (click)="onFileRemoved(i)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </mat-card>
    </form>
</div>