<mat-toolbar class="fx-row fx-layout-between-center">
  <div class="logo fx-row fx-layout-center-center">
    <img src="./assets/images/lectoform-logo-new-small.webp" alt="LectoForm Admin">

    <button mat-icon-button *ngIf="mobile" (click)="sidenav.toggle()" class="ml-10">
      <mat-icon color="accent">menu</mat-icon>
    </button>
  </div>

  <div class="actions fx-row fx-layout-center-center">
    <button color="default" mat-button *ngIf="user" [matMenuTriggerFor]="menu">
      <mat-icon color="primary" class="mr-5">person</mat-icon>
      <span class="text-dark">{{user.firstName}}</span>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</mat-toolbar>