<div class="admin-container fx-column" [class.example-is-mobile]="mobileQuery.matches">
    <app-navbar class="navbar mat-elevation-z3" [sidenav]="snav" [mobile]="mobileQuery.matches"></app-navbar>

    <mat-sidenav-container class="fx-flex">
        <mat-sidenav class="sidenav text-white" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="60" [opened]="!mobileQuery.matches">
            <perfect-scrollbar>
                <mat-nav-list class="nav-list fx-column">
                    <a mat-flat-button color="dark" class="nav-button fx-row fx-layout-start-center"
                       *ngFor="let menuItem of menuItems" matLine routerLinkActive="active"
                       [routerLink]="[menuItem.path]" (click)="mobileQuery.matches && snav.toggle()">
                        <mat-icon class="nav-icon text-white">{{menuItem.icon}}</mat-icon>
                        <div class="nav-text">{{ menuItem.title }}</div>
                    </a>
                </mat-nav-list>
            </perfect-scrollbar>
        </mat-sidenav>

        <mat-sidenav-content class="background-white">

            <mat-toolbar class="head" color="accent">
                <h3 *ngIf="currentRoute">{{currentRoute}}</h3>
                <span class="fx-flex"></span>

                <button mat-button color="white" (click)="back()">
                    <mat-icon>arrow_left</mat-icon> inapoi
                </button>
            </mat-toolbar>

            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>