<div class="content" flexLayout="column">

    <form [formGroup]="pageForm" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">

                <h2 class="text-accent">Informatii Generale Pagina</h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- titlu pagina -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Titlu</mat-label>
                    <input matInput formControlName="titlu" (change)="convertToUrl(pageForm.get('titlu').value)" />
                    <mat-error *ngIf="pageForm.get('titlu').hasError('required')">Titlu pagina necesar</mat-error>
                </mat-form-field>

                <!-- URL pagina -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="url" />
                    <mat-error *ngIf="pageForm.get('url').hasError('required')">URL pagina necesara
                    </mat-error>
                </mat-form-field>

                <!-- status pagina -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="pageForm.get('status').hasError('required')">Status pagina necesar
                    </mat-error>
                </mat-form-field>

                <h2 class="text-accent">Imagine/Banner Pagina</h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- imagine pagina -->
                <div class="files-upload mb-20" fxLayout="column">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector" fxFlex fxLayoutAlign="center center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                (change)="onFileSelected($event)" #fileUpload style="display: none;"
                                onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click();" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagine
                            </button>
                        </div>
                    </label>
                    <div class="files-preview" fxFlex>
                        <span *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</span>

                        <ul fxLayout="column">
                            <li *ngFor="let selected of selectedFiles; let i = index" fxLayout="row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details" fxFlex>
                                    <span class="file-name">{{selected.name}}</span><br />
                                    <span class="file-size"><small>{{formatBytes(selected.file.size)}}</small></span>

                                </div>
                                <div class="actions" fxFlex fxLayoutAlign="end center">
                                    <button mat-icon-button color="default" (click)="onFileRemoved()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </section>
        </mat-card>

        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">
                <h2 class="text-accent">Descriere Pagina <small *ngIf="pageForm.get('titlu').value"
                        class="text-gray">({{pageForm.get('titlu').value}})</small></h2>
                <mat-divider class="mb-20"></mat-divider>

                <!-- descriere pagina -->
                <textarea [froalaEditor]="froalaOptions" formControlName="descriere"></textarea>
                <mat-error *ngIf="pageForm.get('titlu').touched && pageForm.get('descriere').hasError('required')">
                    <small>Descriere pagina necesara</small>
                </mat-error>
            </section>

            <section fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
                <button mat-flat-button color="accent" [disabled]="!pageForm.valid || (loading$ | async)"
                    class="save-button create-contract-btn p-10" (click)="createPage()" fxLayout="row"
                    fxLayoutAlign="center center" fxFill>
                    <mat-spinner *ngIf="loading$ | async" class="text-white" diameter="20"></mat-spinner>
                    <span *ngIf="!(loading$ | async)">Salveaza</span>
                </button>
            </section>
        </mat-card>

    </form>
</div>