<div class="content" flexLayout="column">

    <form [formGroup]="discountForm" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">

                <!-- tip discount -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Tip Discount</mat-label>
                    <mat-select formControlName="categorie" (valueChange)="selectType($event)">
                        <mat-option value="volum">Volum</mat-option>
                        <mat-option value="inscriere">Inscriere</mat-option>
                        <mat-option value="fidelitate">Fidelitate</mat-option>
                    </mat-select>
                    <mat-error *ngIf="discountForm.get('categorie').hasError('required')">Tip discount necesar
                    </mat-error>
                </mat-form-field>

                <!-- info discount -->
                <mat-form-field appearance="fill">
                    <mat-label>Info Discount</mat-label>
                    <textarea matInput formControlName="descriere" rows="5"></textarea>
                </mat-form-field>

                <!-- status discount -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="activ">
                        <mat-option [value]="true">Activ</mat-option>
                        <mat-option [value]="false">Inactiv</mat-option>
                    </mat-select>
                    <mat-error *ngIf="discountForm.get('activ').hasError('required')">Statusul este necesar</mat-error>
                </mat-form-field>
            </section>

            <section fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
                <button mat-flat-button color="accent" [disabled]="!discountForm.valid" class="create-contract-btn p-10"
                    (click)="createDiscount()">
                    Salveaza
                </button>
            </section>
        </mat-card>

        <mat-card fxFlex="50" fxFlex.lt-sm="100" *ngIf="discountForm.get('categorie').value">
            <section fxLayout="column">

                <!--volum discount -->
                <div class="volum-group" *ngIf="discountForm.get('categorie').value === 'volum'">
                    <h2 class="text-accent">Discount Volum</h2>
                    <mat-divider class="mb-10"></mat-divider>
                    <div formArrayName="volum">
                        <p *ngIf="!volum.controls.length">Adauga conditie de discount</p>
                        <div *ngFor="let action of volum.controls; let i=index">
                            <div [formGroupName]="i">
                                <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="20">
                                        <mat-label>Numar minim de cursanti</mat-label>
                                        <input matInput type="number" formControlName="min_cursanti" color="warn">
                                        <mat-error *ngIf="action.get('min_cursanti').hasError('required')">Numar minim
                                            de cursanti necesar
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" hideRequiredMarker="true" fxFlex.gt-sm="20">
                                        <mat-label>Numar maxim de cursanti</mat-label>
                                        <input matInput type="number" formControlName="max_cursanti" color="warn">
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="mb-5" fxFlex.gt-sm="20">
                                        <mat-label>Tip Discount Volum</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="fix">Fix</mat-option>
                                            <mat-option value="procent">Procent</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="action.get('type').hasError('required')">Tipul de discount
                                            necesar
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="20">
                                        <mat-label>Valoare Discount</mat-label>
                                        <input matInput type="number" formControlName="value" color="warn">
                                        <mat-error *ngIf="action.get('value').hasError('required')">Valoare discount
                                            necesara </mat-error>
                                    </mat-form-field>

                                    <div fxFlex.gt-sm="20">
                                        <button type="button" mat-icon-button (click)="removeVolum(i)" color="accent">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>

                                </section>

                            </div>
                        </div>
                        <button type="button" mat-icon-button (click)="addVolum()" color="accent">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

                <!--volum inscriere -->
                <div class="volum-group" *ngIf="discountForm.get('categorie').value === 'inscriere'">
                    <h2 class="text-accent">Discount Inscriere</h2>
                    <mat-divider class="mb-10"></mat-divider>
                    <div formArrayName="inscriere">
                        <p *ngIf="!inscriere.controls.length">Adauga conditie de discount</p>
                        <div *ngFor="let control of inscriere.controls; let i=index">
                            <div [formGroupName]="i">
                                <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">

                                    <mat-form-field appearance="fill" class="mb-5" fxFlex.gt-sm="40">
                                        <mat-label>Data Maxima de Inscriere Timpurie</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="max_inscriere">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="control.get('max_inscriere').hasError('required')">Data
                                            inscriere timpurie necesara
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" class="mb-5" fxFlex.gt-sm="20">
                                        <mat-label>Tip Discount Volum</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="fix">Fix</mat-option>
                                            <mat-option value="procent">Procent</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="control.get('type').hasError('required')">Tipul de discount
                                            necesar
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="20">
                                        <mat-label>Valoare Discount</mat-label>
                                        <input matInput type="number" formControlName="value" color="warn">
                                        <mat-error *ngIf="control.get('value').hasError('required')">Valoare discount
                                            necesara </mat-error>
                                    </mat-form-field>

                                    <div fxFlex.gt-sm="20">
                                        <button type="button" mat-icon-button (click)="removeInscriere(i)"
                                            color="accent" fxFlex.gt-sm="20">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>

                                </section>

                            </div>
                        </div>
                        <button type="button" mat-icon-button (click)="addInscriere()" color="accent">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

                <!--volum fidelitate -->
                <div class="volum-group" *ngIf="discountForm.get('categorie').value === 'fidelitate'">
                    <h2 class="text-accent">Discount Fidelitate</h2>
                    <mat-divider class="mb-10"></mat-divider>
                    <div formArrayName="fidelitate">
                        <p *ngIf="!fidelitate.controls.length">Adauga conditie de discount</p>
                        <div *ngFor="let control of fidelitate.controls; let i=index">
                            <div [formGroupName]="i">
                                <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="20">
                                        <mat-label>Numar de Participari</mat-label>
                                        <input matInput type="number" formControlName="participare" color="warn">
                                        <mat-error *ngIf="control.get('participare').hasError('required')">Numar de participari necesar</mat-error>
                                    </mat-form-field>

                                    <div class="checkbox-container" fxLayoutAlign="center center" fxFlex.gt-sm="40">
                                        <mat-checkbox formControlName="consecutiva">Participari Consecutive</mat-checkbox>
                                    </div>

                                    <mat-form-field appearance="fill" class="mb-5" fxFlex.gt-sm="20">
                                        <mat-label>Tip Discount Volum</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="fix">Fix</mat-option>
                                            <mat-option value="procent">Procent</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="control.get('type').hasError('required')">Tipul de discount
                                            necesar
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" fxFlex.gt-sm="20">
                                        <mat-label>Valoare Discount</mat-label>
                                        <input matInput type="number" formControlName="value" color="warn">
                                        <mat-error *ngIf="control.get('value').hasError('required')">Valoare discount
                                            necesara </mat-error>
                                    </mat-form-field>

                                    <div fxFlex.gt-sm="20">
                                        <button type="button" mat-icon-button (click)="removeFidelitate(i)"
                                            color="accent" fxFlex.gt-sm="20">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>

                                </section>

                            </div>
                        </div>
                        <button type="button" mat-icon-button (click)="addFidelitate()" color="accent">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

            </section>
        </mat-card>
    </form>
</div>