<div class="content">

    <form [formGroup]="teacherForm" class="fx-row fx-lt-md-column fx-gap-25">
        <mat-card class="fx-column fx-50 fx-lt-sm-100 p-20">
            <section class="fx-column fx-flex">
                <h4 class="text-accent">Informatii Generale Profesor</h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- nume profesor -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Nume</mat-label>
                    <input matInput formControlName="nume" />
                    <mat-error *ngIf="teacherForm.get('nume').hasError('required')">Nume profesor necesar</mat-error>
                </mat-form-field>

                <!-- nume profesor -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Experienta</mat-label>
                    <input matInput formControlName="experienta" />
                    <mat-error *ngIf="teacherForm.get('experienta').hasError('required')">Experienta profesor necesara
                    </mat-error>
                </mat-form-field>

                <!-- descriere profesor -->
                <mat-form-field appearance="fill">
                    <mat-label>Descriere</mat-label>
                    <textarea matInput formControlName="descriere" rows="7"></textarea>
                    <mat-error *ngIf="teacherForm.get('descriere').hasError('required')">Descriere profesor necesar
                    </mat-error>
                </mat-form-field>

                <!-- contact profesor -->
                <div class="fx-row fx-lt-md-column fx-gap-20">
                    <mat-form-field appearance="fill" class="fx-50 fx-lt-md-100 mb-5">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-error *ngIf="teacherForm.get('nume').hasError('required')">Email profesor necesar
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="fx-50 fx-lt-md-100 mb-5">
                        <mat-label>Telefon</mat-label>
                        <input matInput formControlName="telefon" />
                    </mat-form-field>
                </div>

                <h4 class="text-accent">Imagine Profesor</h4>
                <mat-divider class="mb-20"></mat-divider>

                <!-- imagine profesor -->
                <div class="files-upload fx-column mb-20">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector fx-row fx-layout-center-center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                   (change)="onFileSelected($event)" #fileUpload style="display: none;"
                                   onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click();" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagine
                            </button>
                        </div>
                    </label>
                    <div class="files-preview">
                        <span *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</span>

                        <ul class="fx-column">
                            <li *ngFor="let selected of selectedFiles; let i = index" class="fx-row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details fx-flex fx-row fx-layout-start-center">
                                    <button mat-flat-button (click)="openDialog(selected)"><span class="file-name text-dark">{{selected.name}}</span></button>
                                </div>
                                <div class="actions fx-flex fx-row fx-layout-end-center">
                                    <button mat-icon-button color="default" (click)="onFileRemoved()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </section>

            <section class="fx-row fx-layout-center-center">
                <button mat-flat-button color="accent" [disabled]="!teacherForm.valid || (loading$ | async)"
                        class="save-button fx-fill p-10" (click)="createTeacher()">
                    <mat-spinner *ngIf="loading$ | async" class="text-white" diameter="20"></mat-spinner>
                    <span *ngIf="!(loading$ | async)">
                        Salveaza
                    </span>
                </button>
            </section>
        </mat-card>

        <div class="fx-50 fx-lt-sm-100" *ngIf="this.teacherForm.get('nume').value">
            <div class="preview-container fx-column fx-layout-center-center">
                <mat-card class="preview-card mat-elevation-z3">
                    <div class="preview-header">
                        <img [src]="selectedFiles.length && selectedFiles[0] ? selectedFiles[0].preview : './assets/images/placeholder.png'"
                             alt="profile-image">
                    </div>
                    <mat-card-header class="preview-title">
                        <mat-card-title class="text-success">{{teacherForm.get('nume').value}}</mat-card-title>
                        <mat-card-subtitle>{{teacherForm.get('experienta').value}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="preview-content">
                        <p>{{teacherForm.get('descriere').value}}</p>
                    </mat-card-content>
                    <mat-card-footer class="preview-footer text-success fx-column fx-layout-center-start">
                        <span class="text-success">{{teacherForm.get('email').value}}</span>
                        <span class="text-dark">{{teacherForm.get('telefon').value}}</span>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>

    </form>
</div>