<div class="content" flexLayout="column">

    <form [formGroup]="teacherForm" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
        <mat-card fxFlex="50" fxFlex.lt-sm="100" fxFill="false">
            <section fxLayout="column">

                <!-- nume profesor -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Nume</mat-label>
                    <input matInput formControlName="nume" />
                    <mat-error *ngIf="teacherForm.get('nume').hasError('required')">Nume profesor necesar</mat-error>
                </mat-form-field>

                <!-- nume profesor -->
                <mat-form-field appearance="fill" class="mb-5">
                    <mat-label>Experienta</mat-label>
                    <input matInput formControlName="experienta" />
                    <mat-error *ngIf="teacherForm.get('experienta').hasError('required')">Experienta profesor necesara
                    </mat-error>
                </mat-form-field>

                <!-- descriere profesor -->
                <mat-form-field appearance="fill">
                    <mat-label>Descriere</mat-label>
                    <textarea matInput formControlName="descriere" rows="7"></textarea>
                    <mat-error *ngIf="teacherForm.get('descriere').hasError('required')">Descriere profesor necesar
                    </mat-error>
                </mat-form-field>

                <!-- contact profesor -->
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                    <mat-form-field appearance="fill" class="mb-5" fxFlex="50" fxFlex.lt-sm="100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                        <mat-error *ngIf="teacherForm.get('nume').hasError('required')">Email profesor necesar
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="mb-5" fxFlex="50" fxFlex.lt-sm="100">
                        <mat-label>Telefon</mat-label>
                        <input matInput formControlName="telefon" />
                    </mat-form-field>
                </div>

                <!-- imagine profesor -->
                <div class="files-upload mb-20" fxLayout="column">
                    <label for="dzone" appDnd (fileDropped)="onDroppedFiles($event)">
                        <div class="files-selector" fxFlex fxLayoutAlign="center center">
                            <input id="dzone" class="input-selector" type="file" class="file-input"
                                (change)="onFileSelected($event)" #fileUpload style="display: none;"
                                onclick="value = null">
                            <button mat-raised-button color="accent" (click)="fileUpload.click();" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                                &nbsp;&nbsp;Adauga imagine
                            </button>
                        </div>
                    </label>
                    <div class="files-preview" fxFlex>
                        <span *ngIf="!selectedFiles.length" class="text-gray">Nu ai selectat nici o
                            imagine...</span>

                        <ul fxLayout="column">
                            <li *ngFor="let selected of selectedFiles; let i = index" fxLayout="row">
                                <div class="preview">
                                    <img [src]="selected.preview" [alt]="selected.name" (click)="openDialog(selected)">
                                </div>
                                <div class="details" fxFlex>
                                    <span class="file-name">{{selected.name}}</span><br />
                                    <span class="file-size"><small>{{formatBytes(selected.file.size)}}</small></span>

                                </div>
                                <div class="actions" fxFlex fxLayoutAlign="end center">
                                    <button mat-icon-button color="default" (click)="onFileRemoved()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </section>

            <section fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
                <button mat-flat-button color="accent" [disabled]="!teacherForm.valid" class="create-contract-btn p-10"
                    (click)="createTeacher()">
                    Salveaza
                </button>
            </section>
        </mat-card>

        <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="this.teacherForm.get('nume').value">
            <div class="preview-container" fxLayout="column" fxLayoutAlign="center center">
                <mat-card class="preview-card mat-elevation-z3">
                    <div class="preview-header">
                        <img [src]="selectedFiles.length && selectedFiles[0] ? selectedFiles[0].preview : './assets/images/placeholder.png'"
                            alt="profile-image">
                    </div>
                    <mat-card-header class="preview-title">
                        <mat-card-title class="text-success">{{teacherForm.get('nume').value}}</mat-card-title>
                        <mat-card-subtitle>{{teacherForm.get('experienta').value}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="preview-content">
                        <p>{{teacherForm.get('descriere').value}}</p>
                    </mat-card-content>
                    <mat-card-footer class="preview-footer text-success" fxLayout="column" fxLayoutAlign="center start">
                        <span class="text-success">{{teacherForm.get('email').value}}</span>
                        <span class="text-dark">{{teacherForm.get('telefon').value}}</span>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>

    </form>
</div>